* {
  font-family: sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#container {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  height: 210px;
  display: flex;
  padding: 1rem;
}

#image-container {
  padding: 1rem 2rem;
}

#header-title {
  flex-grow: 1;
}

#body {
  width: 100%;
  display: flex;
}

#left-bar {
  width: 210px;
}

#content {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  width: 95%;
}

.sounds-container {
  width: 75%;
  padding: 1rem;
}

.sound-container {
  display: flex;
  font-size: 1.5em;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.sound-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.sound-action {
  width: 50px;
  margin-right: 1rem;
}

.my-link:link, .my-link:visited, .my-link:active {
  color: black;
}

.my-link:hover {
  color: #757575;
}

.discord-link, .discord-link:visited, .discord-link:active {
  color: #7289da;
}

.discord-link:hover {
  color: rgba(114, 137, 218, 0.75);
}

.sound-upload-container {
  width: 25%;
  padding: 1rem;
}

.sound-upload-container form {
  display: flex;
  flex-direction: column;
}

.upload-fields {
  flex-grow: 1;
}

.sound-upload-container a {
  width: inherit;
  font-size: 1.5em;
}

.fas {
  float: right;
}

.fieldWrapper {
  padding-bottom: 0.5rem;
}

.fieldWrapper > label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.fieldWrapper > input {
  width: 95%;
}

/* disco */

@keyframes disco {
  0% {
    background-color: orange;
  }
  20% { 
    background-color: aquamarine;
  }
  30% {
    background-color: yellow;
  }
  40% {
    background-color: aqua;
  }
  50% {
    background-colour: red;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: purple;
  }
  100% {
    background-color: orange;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.disco {
  animation: disco 1s infinite;
}

.header-disco {
  animation: rotation 2s infinite linear;
}