* {
  font-family: sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#container {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  height: 210px;
  display: flex;
}

#image-container {
  width 211px;
  padding: 5px;
}

#header-title {
  flex-grow: 1;
}

#body {
  width: 100%;
  display: flex;
}

#left-bar {
  width: 210px;
}

#content {
  width: 690px;
  flex-grow: 1;
}
