body {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  display: float;
  float: right;
  padding: 1rem;
}

#side-bar {
  width: 400px;
}

#side-bar-inner {
  position: fixed;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #303030;
  padding: 2px 2px 10px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#side-bar-inner img {
  margin: 1rem 2rem;
}

#header-title {
  flex-grow: 1;
}

#body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sounds-container {
  width: 100%;
}

.sound-container {
  width: 90%;
  margin: 0 auto 15px auto;
  display: flex;
  font-size: 1.5em;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #303030;
}

.sound-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.sound-action {
  width: 50px;
  margin-right: 1rem;
}

.my-link:link, .my-link:visited, .my-link:active {
  color: black;
}

.my-link:hover {
  color: #757575;
}

.discord-link, .discord-link:visited, .discord-link:active {
  color: #7289da;
}

.discord-link:hover {
  color: rgba(114, 137, 218, 0.75);
}

.side-bar {
  width: 25%;
  padding: 1rem;
  position: fixed;
}

.sound-upload-container form {
  display: flex;
  flex-direction: column;
  width: 13rem;
  padding: 5px;
}

.upload-fields {
  flex-grow: 1;
}

.sound-upload-container a {
  width: inherit;
  font-size: 1.5em;
}

.fas {
  float: right;
  color: #FAFAFA;
}

.fieldWrapper {
  padding-bottom: 0.5rem;
}

.fieldWrapper > label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.fieldWrapper > input {
  width: 95%;
}

/* disco */

@keyframes disco {
  0% {
    background-color: orange;
  }
  20% {
    background-color: aquamarine;
  }
  30% {
    background-color: yellow;
  }
  40% {
    background-color: aqua;
  }
  50% {
    background-colour: red;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: purple;
  }
  100% {
    background-color: orange;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.disco {
  animation: disco 1s infinite;
}

.header-disco {
  animation: rotation 2s infinite linear;
}

#logout-link a, #logout-link a:visited {
	color: inherit;
	text-decoration: none;
	float: right;
}

#logout-link a:hover {
	color: #BDBDBD;
	text-decoration: none;
	float: right;
}
#logout-link a:active {
	text-decoration: underline;
}

#popular-tags {
  width: 13rem;
  padding: 5px;
}

#popular-tags h3 {
  border-bottom: 2px solid #FAFAFA;
}
