{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="{% static 'frontend/main.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/favicon.ico' %}">
    <script src="https://kit.fontawesome.com/d8bb7bdc2b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="image-container">
          <img src="{% static 'frontend/mario.webp' %}"/>
        </div>
        <div id="header-title"></div>
      </div>
      <div id="body">
        <div id="left-bar">
        </div>
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
